@import "tailwindcss";

@plugin "tailwindcss-animate";

@config "../../tailwind.config.ts";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: #f8f3e3;
  --foreground: #000000;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.442 0.017 285.786);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.442 0.017 285.786);
}

@layer components {
  @layer components {
    .glassmorphic-button {
      @apply transition-all duration-200 shadow-[0_4px_0_rgba(255,255,255,0.24)] backdrop-blur-[24px] before:absolute before:inset-0 before:shadow-[inset_0_2px_24px_rgba(255,255,255,0.16)] active:shadow-[0_0px_0px_rgb(0,0,0)] active:translate-y-[4px] border-2 border-[#FFFFFF24] flex flex-row px-[24px] py-[16px] items-center relative cursor-pointer;
    }
    .glassmorphic-light-button {
      @apply relative bg-transparent border-none p-0 cursor-pointer outline-offset-4 transition-[filter] duration-250;
    }
    .glassmorphic-light-button .shadow {
      @apply absolute top-0 left-0 w-full h-full rounded-md bg-black/25 will-change-transform translate-y-[2px] transition-transform duration-600 ease-[cubic-bezier(0.3,0.7,0.4,1)];
    }
    .glassmorphic-light-button .edge {
      @apply absolute top-0 left-0 w-full h-full rounded-md bg-zinc-900/80;
    }
    .glassmorphic-light-button .front {
      @apply relative flex items-center gap-3 justify-center px-12 md:px-16 border-[1px] border-[#FFFFFF52] bg-zinc-950 rounded-md will-change-transform -translate-y-[4px] transition-transform duration-600 ease-[cubic-bezier(0.3,0.7,0.4,1)];
    }
    .glassmorphic-light-button:hover {
      @apply filter brightness-110;
    }
    .glassmorphic-light-button:hover .front {
      @apply -translate-y-[6px] transition-transform duration-250 ease-[cubic-bezier(0.3,0.7,0.4,1.5)];
    }
    .glassmorphic-light-button:active .front {
      @apply -translate-y-[2px] transition-transform duration-[34ms];
    }
    .glassmorphic-light-button:hover .shadow {
      @apply translate-y-[4px] transition-transform duration-250 ease-[cubic-bezier(0.3,0.7,0.4,1.5)];
    }
    .glassmorphic-light-button:active .shadow {
      @apply translate-y-[1px] transition-transform duration-[34ms];
    }
    .glassmorphic-light-button:focus:not(:focus-visible) {
      @apply outline-none;
    }
    .canvas-date {
      @apply transition-all duration-200 shadow-[0_2px_0_rgba(255,255,255,0.08)] backdrop-blur-[24px] before:absolute before:inset-0 before:shadow-[inset_0_2px_24px_rgba(255,255,255,0.25)] active:shadow-[0_4px_24px_rgb(0,0,0)] active:translate-y-[4px] border-2 border-[#FFFFFF24] flex flex-row px-[24px] py-[16px] items-center relative cursor-pointer;
    }
    .palette-on-button {
      @apply shadow-[0px_0px_0px_2px_rgba(0,215,242,0.16),0px_4px_24px_0px_rgba(0,0,0,1)] before:shadow-[inset_0px_2px_8px_0px_rgba(255,255,255,0.25)] w-full h-[34px] border-[#5D5D5C] border-2 bg-[#00000008] flex items-center justify-center relative;
    }
    .palette-off-button {
      @apply w-full h-[34px] border-[#FFFFFF24] border-2 border-dashed flex items-center justify-center relative;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    background-color: #f8f3e3;
  }
  .bg-cream {
    @apply bg-[#f8f3e3];
  }

  .dot-pattern {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.03' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='1'/%3E%3Ccircle cx='3' cy='13' r='1'/%3E%3Ccircle cx='13' cy='3' r='1'/%3E%3Ccircle cx='13' cy='13' r='1'/%3E%3C/g%3E%3C/svg%3E");
  }

  .grid-pattern-vignette {
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23000000' stroke-opacity='0.02' stroke-width='0.5'%3E%3Cline x1='0' y1='0' x2='20' y2='0' /%3E%3Cline x1='0' y1='10' x2='20' y2='10' /%3E%3Cline x1='0' y1='20' x2='20' y2='20' /%3E%3Cline x1='0' y1='0' x2='0' y2='20' /%3E%3Cline x1='10' y1='0' x2='10' y2='20' /%3E%3Cline x1='20' y1='0' x2='20' y2='20' /%3E%3C/g%3E%3C/svg%3E");
    background-size: 40px 40px;
    background-repeat: repeat;
  }

  .grid-pattern-vignette::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      circle,
      transparent 50%,
      var(--background) 100%
    );
    pointer-events: none;
  }
}
